<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO" monitorInterval="30">  
    <Appenders>  
        <Console name="Console" target="SYSTEM_OUT">  
            <PatternLayout pattern="[%d{yyyy/MM/dd HH:mm:ss.SSS}] [%p] [%C{1}:%L] - %msg%n" />  
        </Console> 
        
        <RollingFile name="RollingFile" fileName="log/info.log"
                filePattern="log/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log" >
        	<PatternLayout pattern="[%d{yyyy/MM/dd HH:mm:ss.SSS}] [%p] [%C{1}:%L] - %msg%n" />
            <Policies>
            	<TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="200 kB" />
            </Policies>
        	<DefaultRolloverStrategy max="20"/>       
        </RollingFile>
    </Appenders>  

    <Loggers>
        <Root level="info">  
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Root>  
    </Loggers>
      
</Configuration>